<launch> 
  <arg name="battery" default="0" />
  <arg name="draw_vacuum" default="0" />
  <arg name="optimal_path" default="0" />
  <param name="use_sim_time" type="bool" value="True"/>
  <rosparam command="load" file="$(find assessment)/world/config.yaml"/>
  <node name="stage" pkg="stage_ros" type="stageros" args="$(find assessment)/world/world.world"/>
  <node name="mapserver" pkg="map_server" type="map_server" args="$(find assessment)/world/map.yaml"/>
  <node name="map2odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 100"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find assessment)/config.rviz"/>
  <group>
    <remap from="/cmd_vel" to="/cmd_vel_in" if="$(arg battery)"/> 
    <!-- PUT YOUR NODE HERE -->
    <node name="pose_marker" pkg="assessment" type="pose_marker.py" />
    <node name="path_marker" pkg="assessment" type="path_marker.py" />
    <node name="goal_marker" pkg="assessment" type="goal_marker.py" />
    <!--<node name="robot" pkg="assessment" type="robot.py" output="screen"/>-->
    <!--THE TELEOP NODE BELOW ALLOWS YOU TO DRIVE AROUND WITH THE KEYBOARD FOR TESTING, UNCOMMENT AS DESIRED. -->
    <node name="tele" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
    <node name="amcl" pkg="amcl" type="amcl">
      <remap from="/scan" to="/base_scan"/>
      <param name="odom_model_type" value="diff"/>
      <param name="transform_tolerance" value="0.2" />
      <param name="gui_publish_rate" value="10.0"/>
      <param name="laser_max_beams" value="30"/>
      <param name="min_particles" value="100"/>
      <param name="max_particles" value="1000"/>
      <param name="kld_err" value="0.05"/>
      <param name="kld_z" value="0.99"/>
      <param name="odom_alpha1" value="0.1"/>
      <param name="odom_alpha2" value="0.1"/>
      <param name="odom_alpha3" value="0.1"/>
      <param name="odom_alpha4" value="0.1"/>
      <param name="laser_z_hit" value="0.9"/>
      <param name="laser_z_short" value="0.05"/>
      <param name="laser_z_max" value="0.05"/>
      <param name="laser_z_rand" value="0.05"/>
      <param name="laser_sigma_hit" value="0.1"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_model_type" value="beam"/>
      <param name="laser_likelihood_max_dist" value="0.2"/>
      <param name="update_min_d" value="0.2"/>
      <param name="update_min_a" value="0.5"/>
      <param name="odom_frame_id" value="odom"/>
      <param name="base_frame_id" value="base_link"/>
      <param name="global_frame_id" value="map"/>
      <param name="resample_interval" value="5"/>
      <param name="transform_tolerance" value="0.1"/>
      <param name="recovery_alpha_slow" value="0.001"/>
      <param name="recovery_alpha_fast" value="0.1"/>
      <param name="initial_pose_a" value="0.0"/>
      <param name="initial_pose_x" value="2"/>
      <param name="initial_pose_y" value="0.0"/>
      <param name="initial_cov_xx" value="0.5"/>
      <param name="initial_cov_yy" value="0.5"/>
    </node>
    <node name="fake_localization" pkg="fake_localization" type="fake_localization" /> 
  </group>

  <node name="power_simulator" pkg="assessment" type="power_simulator.py" if="$(arg battery)">
    <remap from="/cmd_vel_out" to="/cmd_vel"/>
  </node>
  <node name="vacuum_drawer" pkg="assessment" type="vacuum_drawer.py" args="$(find assessment)/world/map.yaml" if="$(arg draw_vacuum)"/>
</launch>
